.hero{
    background-image: url('../../images/bg.jpg');
    background-size: cover;
    background-position: right;
    padding: 50px 200px !important;
    height: 100%;
    width: 100%;
}

.hero__main{
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 90vh;
}
.hero__list{
    display: flex;
    flex-direction: column;
}
.hero__title{
    margin-bottom: 30px;
}
.hero__menu{
    width: 50%;
    overflow-y: scroll;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    // height: 100vh;
    
}
.menu__item{
    background-color: #FEE4C3;
    padding: 15px 30px !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
    border-radius: 15px;
    
}
.pizza__img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: -30px;
}

.pizza__price{
    font-size: 25px;
    font-weight: 700;
    padding: 0 !important;
    margin-bottom: 0 !important;
}
.pizza__btn{
    position: relative;
    bottom: -20px;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: rgb(70, 76, 167);
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    border: none;
    text-transform: capitalize;
}
.hero__card{
    overflow-Y: scroll;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
}
.pizza__name{
    text-align: left;
    margin-left: 100px;
}
.card__list{
    position: relative;
    padding: 15px 30px !important;
}
.card__title{
    margin-bottom: 20px;
}
.card__item{
    background-color: rgb(160, 241, 228) !important;
    position: relative;
    img{
        position: relative;
    }
 
}
  * {
    scrollbar-width: thin;
    scrollbar-color: #f9a20b #9bb4bb;
  }

  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #9bb4bb;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f9a20b;
    border-radius: 21px;
    border: 0px solid #e70808;
  }
.price{
    padding: 5px;
    position: absolute;
    bottom: 0;
    gap: 40px;
    p{
        font-weight: 700;
        margin-right: 5px;
    }
}
@media screen and (max-width: 576px) {
    
    .hero__main{
        flex-direction: column;
        padding: 0;
    }
    .hero{
        padding: 0 !important;
    }
}